
:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;  
    --headline-font: "Caveat";
}

body {
    margin: 0;
    font-family: var(--primary-font);
}

img {
	max-width: 100%;
}

.logo {
    width: 75px;
    height: 75px;
}

.recipe-type {
    border: solid black;
    padding: 0.3rem;
    font-size: bold;
    margin-right: 10px;
}

.search-container {
    display: grid;
    padding: 0 3rem;
}

.line {
    border: 1px solid gray;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    width: 100%;
}

h1 {
    font-family: var(--headline-font);
    font-size: 40px;
}
.recipe-title {
    font-family: var(--headline-font);
    color: var(--primary-color);
    font-size: 30px;
    margin-bottom: 0;
}

.title-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.recipe-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 3rem;
    
    /* display: grid;
    padding: 0 2rem;
    grid-template-rows: 1fr max-content;
    row-gap: 2rem;
    align-items: center; */
}

.recipe {
    display: flex;
    justify-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
    flex-direction: column;
    margin-bottom: 2rem;
}

.recipe-content p {
    display: none;
}

.find-recipe-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.find-recipe-container, #search-image {
    height: 20px;
}

#recipe-find {
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    height: 2rem;
    width: 100%;
    margin-left: 5rem;
}

#search-image {
    border: 1px solid black;
    border-left: 2px solid black;
    height: 2.24rem;
    padding-left: 0.1rem;
    border-radius: 0px 5px 5px 0px;
    margin-right: 5rem;
}

.apple-crisp {
    height: 300px;
    padding-bottom: 1rem;
}

footer {
    padding: 2rem;
    width: 100%;
}

#ugly {
    font-size: 0.6em;
    color: var(--primary-color);
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    padding-right: 4rem;
}

.social {
    height: 50px;
    display: flex;
    justify-content: center;
    padding-right: 5rem;
    padding-top: 1rem;
}

.social a {
    width: 40px;
    margin: 0 5px;
}

@media screen and (min-width: 600px) {
    footer {
        display: flex;
        justify-content: space-between;
    }

    .social a {
        width: 50px;
    }

    .recipe {
        display: flex;
        flex-direction: row;
        width: 40rem;
    }

    .recipe-content p{
        display: flex;
    }

    .recipe-content {
        padding-left: 1rem;
    }
    
    .find-recipe-container, #recipe-find {
        width: 100%;
        margin: auto 0;
    }

    #ugly {
        padding-left: 0;
    }
}

@media screen and (min-width: 1000px) {
    footer {
        display: flex;
        justify-content: space-between;
    }

    .social a {
        width: 50px;
    }

    .recipe {
        display: flex;
        flex-direction: row;
    }

    .recipe-content p{
        display: flex;
    }

    .recipe-content {
        padding-left: 1rem;
    }
    
    .find-recipe-container, #recipe-find {
        width: 100%;
        margin: auto 0;
        padding-left: 1.5rem;
    }

    .apple-crisp {
        height: 350px;
    }
    
    .recipe {
        width: 80rem;
    }

    .social {
        padding-right: 5rem;
    }

    .recipe-description {
        font-size: 20px;
    }

    #ugly {
        padding-left: 2rem;
    }
}
