@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
 :root {
 --primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: Mooli, san-serif;
 }
 
 /* For better organization, next time I will Add comments along the way. HTML and CSS should align side by side.*/

 * {
   text-align: center;
   max-width: 100%;
   background-color: #dddddd;
 }

 header {
   background-color: var(--primary-color);
   color: var(--text-light);
 }

 h1 {
    font-size: 50px;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    margin: auto 0;
 }

 body {
  margin: 0;
 }

 nav {
   display: flex;
   justify-content: space-around;
   background-color: var(--primary-color);
   padding-left: 200px;
   padding-right: 200px;
 }

 nav a {
   text-align: center;
   color: black;
   text-decoration: none;
   padding: 35px;
   color: var(--text-light);
   background-color: var(--primary-color);
   font-family: var(--primary-font);
   text-decoration: underline;
 }
 
 .hide {
  display: none;
 }
 
 .menu-button {
  text-align: center;
   color: black;
   text-decoration: none;
   padding: 35px;
   color: var(--text-light);
   background-color: var(--primary-color);
   font-family: var(--primary-font);
   background: none;
   border: none;
   font-size: 30px;
   cursor: pointer;
 }

 .viewer .close-viewer {
    position: absolute;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
}

 .viewer {
  position: fixed;
  top:0;left:0;bottom:0;right:0;
  background-color: rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

.viewer img {
  max-width: 100%;
  max-height: 100%;
  border: 7px solid;
  background-color: transparent;
  padding: 25px;
}
 h3 {
    color: black;
    font-family: var(--primary-font);
    font-size: 30px;
    margin: auto 0;
    padding-top: 15px;
 }

 figure img {
   max-width: 100%;
   height: 200px;
   width: 200px;
   object-fit: cover;
   border: 7px solid white;
   box-shadow: 5px 5px 5px black;
 }


 .gallery {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 5px;
   row-gap: 5px;
   padding-left: 200px;
   padding-right: 200px;
   padding-bottom: 25px;
   max-width: 100%;
 }

 footer {
   background-color: var(--primary-color);
   height: 50px;
   text-align: left;
   padding-left: 150px;
   color: var(--text-light);
   font-family: var(--primary-font);
  }
  
 @media screen and (max-width: 970px) {
   /* Adjust styles for smaller screens */
   nav {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  
  nav a {
    display: block;
    text-align: center;
    padding: 15px;
  }
  
  .gallery {
    grid-template-columns: 1fr; /* Adjust columns as needed */
    padding: 10px;
  }

}

@media screen and (min-width: 700px) and (max-width: 1225px) {
  .gallery { 
  grid-template-columns: 1fr 1fr;
  }

  .viewer img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-height: 100%;
    border: none;
    max-width: min(100%, 800px);
    background-color: rgba(0, 0, 0, 0.75);
  }

}

@media screen and (min-width: 1226px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .menu-button {
    display: none;
  }
  
  nav {
    display: flex !important;
  }

  .viewer {
  padding: 20px;
}

.viewer img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-height: 100%;
  border: none;
  max-width: min(100%, 800px);
  background-color: rgba(0, 0, 0, 0.75);
}

}

nav.hide {
  display: none;
}