h1 {
    text-align: center;
}


body {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 600px;
}

img {
    width: 150px;
}

h1 {
    text-align: center;
}

h3 {
    color: #006EB6;
    text-align: center;
}

h1,h3 {
    max-width: 600px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
