@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pangolin&display=swap');

:root {
    --primary-color: #292929;
    --secondary-color: #FFBD59;
    --accent1-color: #0099D2;
    --accent2-color: #76AE5D;
  
   
    --heading-font: "Pangolin", Tahoma, Arial;
    --paragraph-font: "Nunito", Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(
      --primary-color
    ); /* headlines on a white background */
    --headline-color-on-color: white; /* headlines on a colored background */
    --paragraph-color-on-white: var(
      --primary-color
    ); /* paragraph text on a white background */
    --paragraph-color-on-color: white; /* paragraph text on a colored background */
    --paragraph-background-color: var(--primary-color);
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--secondary-color);
    --nav-hover-link-color: #76AE5D;
    --nav-hover-background-color: var(--primary-color);
  }

  body {
    margin: auto 0;
    font-family: var(--paragraph-font);
    max-width: 100%;
    overflow-x: hidden;
  }

  header {
    background-color: var(--secondary-color);
  }

  h1, h2, h3 {
    font-family: var(--heading-font);
  }

  p {
    font-family: var(--paragraph-font);
  }

  .hero {
    display: flex;
    flex-direction: column;

  }
  
  .hero-text {
    padding: 1.5rem;
  }
  
  .hero-image {
    height: 300px;
    width: 100%;
  }

  .logo {
    height: 80px;
    width: 80px;
    border: 2.5px solid var(--primary-color);
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: none;
    background-color: none;
  }

  
  .small-logo {
    height: 80px;
    width: 80px;
    border: 2.5px solid var(--primary-color);
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    text-align: center;
    list-style: none;
    /* max-height: 10rem; */
    width: 100%;
    line-height: 2rem;
    padding: 1rem 0rem;
    border-bottom: 2.5px solid var(--primary-color);
    /* height: 5rem; */
  }

nav a:link,nav a:visited {
  color: var(--nav-link-color);
}

nav a:not(:has(img)):hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  padding: 0.5rem;
  border-radius: 1rem;
}

nav a {
  font-size: 25px;
}

  .line {
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 75%;
    margin-top: 9rem;
    border-radius: 1rem;
    padding: 1.5rem;
    height: 900px;
  }

  .quote-author {
    display: flex;
    justify-self: center;
  }
  
  .quote-image {
    height: 600px;
    max-width: 100%;
    display: flex;
    justify-self: center;
  }

  .quote-description {
    display: flex;
    justify-self: center;
    border: 3px solid var(--accent1-color);
    width: 75%;
    padding: 2rem;
  }

  .big-menu a {
    text-decoration: none;
    color: var(--primary-color);
    text-decoration: none;
    padding-left: 1rem;
    font-family: var(--heading-font);
    font-weight: 500;
    padding: 0.5rem;
  }

  .big-menu {
    display: flex;
    flex-direction: column;
  }

  .hide {
    display: none
  }

  .menu-button {
    background: none;
    border: none;
    display: flex;
    justify-self: center;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    padding: 35px;
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }

  .quote-button {
    cursor: pointer;
    display: flex;
    justify-self: center;
    color: var(--primary-color);
    border-radius: 0.5rem;
    background: none;
    border: 2px solid var(--primary-color);
    font-family: var(--heading-font);
    border-radius: 1rem;
    font-size: 3rem;
    margin: 2rem;
  }

  .quote-button:hover {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    border-radius: 1rem;
  }

  .menu-button:hover {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    border-radius: 1rem;
  }

  #small-screen-logo {
    display: flex;
  }

  .quote-title {
    padding: 0.5rem;
  }

  footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer a:hover {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  border-radius: 1rem;
  padding: 0.5rem;
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 2.5px solid var(--primary-color);
}

footer p {
    font-size: 1em;
    font-family: var(--heading-font);
}

footer .social img {
    padding-top: 15px;
}
  

@media screen and (min-width: 600px) {
    nav {
        display: flex;
        justify-content: space-evenly;
        background-color: var(--secondary-color);
        text-align: center;
        list-style: none;
        /* max-height: 10rem; */
        width: 100%;
        line-height: 2rem;
        padding: 1rem 1rem 1rem 0rem;
        border-bottom: 2.5px solid var(--primary-color);
        /* height: 5rem; */
      }
    
    .big-menu a {
        display: flex;
    }

    .menu-button {
        /* display: none; */
        margin: 0;
    }

}

@media screen and (min-width: 700px) {
  .hero-image {
    height: 400px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    text-align: center;
    list-style: none;
    max-height: 10rem;
    width: 100%;
    line-height: 2rem;
    padding: 1rem 0rem;
    border-bottom: 2.5px solid var(--primary-color);
    height: 5rem;
  }
  
  .big-menu {
    display: flex;
    flex-direction: row;
  
  }

  .menu-button {
    display: none;
    margin: 0;
}
}

@media screen and (min-width:850px) {
  .hero-image {
    height: 500px;
  }

  .menu-button {
    display: none;
    margin: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
  text-align: center;
  list-style: none;
  max-height: 10rem;
  width: 100%;
  line-height: 2rem;
  padding: 1rem 0rem;
  border-bottom: 2.5px solid var(--primary-color);
  height: 5rem;
}

.big-menu {
  display: flex;
  flex-direction: row;

}

  footer {
    flex-direction: row;
  }
} 

@media screen and (min-width: 1000px) {
    .hero {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      height: 700px;        
    }
    
    .hero-image {
      height: 815px;
      width: auto;
      display: grid;
      grid-column: 1/4;
      grid-row: 1/4;
      z-index: -1;
      border-bottom: 2.5px solid var(--primary-color);
    }

    .hero-text {
      display: grid;
      grid-column: 2/3;
      grid-row: 2/3;
      font-weight: bold;
      color: white;
    }

    .hero-text p {
      font-size: 20px;
    }
    
    .hero-text h1 {
      font-size: 40px;
    }

    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: var(--secondary-color);
      text-align: center;
      list-style: none;
      max-height: 10rem;
      width: 100%;
      line-height: 2rem;
      padding: 1rem 0rem;
      border-bottom: 2.5px solid var(--primary-color);
      height: 5rem;
    }

    .big-menu {
      display: flex;
      flex-direction: row;

    }

    .trans-box {
      display: grid;
      grid-column: 2/3;
      grid-row: 2/3;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }

    #small-screen-logo {
        display: none;
    }

    .line {
      border: 2px solid var(--primary-color);
    }

    .quote-generator {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 4fr;
      justify-content: center;
    }

    .quote-title {
      grid-row: 1/2;
      grid-column: 1/3;
      align-self: center;
      text-align: center;
    }
    
    .quote-author {
      grid-row: 2/2;
      align-self: center;
      font-size: 30px;
    }
    
    .quote-image {
      height: 700px;
      width: auto;
      grid-column: 2/3;
      grid-row: 3/4;
    }

  
    .quote-description {
      display: grid;
      grid-column: 1/2;
      height: 400px;
      border: 3px solid var(--accent1-color);
      width: 75%;
      padding: 2rem;
      font-size: 20px;
      text-align: center;
      padding-top: 2rem;
      align-content: center;
      align-self: center;
    }

    .quote-button {
      grid-column: 1/2;
      grid-row: 2/2;
      text-align: center;
      color: var(--primary-color);
      border-radius: 0.5rem;
      background: none;
      border: 2px solid var(--primary-color);
      font-family: var(--heading-font);
      border-radius: 1rem;
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    footer {
      flex-direction: row;
    }
}

@media screen and (min-width: 1450px) {
    .hero-image {
      width: 100%;
      height: 900px;
    }

    .line {
      margin-top: 20rem;
    }

    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: var(--secondary-color);
      text-align: center;
      list-style: none;
      max-height: 10rem;
      width: 100%;
      line-height: 2rem;
      padding: 1rem 0rem;
      border-bottom: 2.5px solid var(--primary-color);
      height: 5rem;
    }

    .big-menu {
      display: flex;
      flex-direction: row;
    }
}

/* --------- CHARACTER SEARCH PAGE ----------------------------------------------------------------------------------------- */
.search-container {
  display: flex;
}

.find-character-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2.5rem;
}

.find-character-container, #search-image {
  height: 20px;
}

#character-find {
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  height: 2rem;
  width: 100%;
  margin-left: 5rem;
}

#search-image {
  border: 1px solid black;
  border-left: 2px solid black;
  height: 2.24rem;
  padding-left: 0.1rem;
  border-radius: 0px 5px 5px 0px;
  margin-right: 5rem;
  cursor: pointer;
}

.character-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2.5rem;
  /* padding-right: 3.5rem; */
  
  /* display: grid;
  padding: 0 2rem;
  grid-template-rows: 1fr max-content;
  row-gap: 2rem;
  align-items: center; */
}

.character {
  display: flex;
  justify-content: center;
  border: 2.5px solid var(--primary-color);
  border-radius: 5px;
  padding: 1rem;
  flex-direction: column;
  margin-bottom: 2rem;
}

.character-type {
  display: none;
}

.apple-crisp {
  height: auto;
  padding-bottom: 1rem;
}

.character-content p {
  display: none;
}

.character-title {
  font-size: 30px;
  margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  .apple-crisp {
    height: 600px;
  }
}




@media screen and (min-width: 800px) {
  footer {
      display: flex;
      justify-content: space-between;
  }

  .social a {
      width: 50px;
  }

  .character-container {
    display: flex;
    justify-content: center;
  }

  .character {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
  }

  .apple-crisp {
    height: 400px;
  }

  .character-content p{
      display: flex;
  }

  .character-content {
      padding-left: 1rem;
  }
  
  .find-character-container, #character-find {
      width: 100%;
      margin: auto 0;
  }

  #ugly {
      padding-left: 0;
  }

}

@media screen and (min-width: 1000px) {
  footer {
      display: flex;
      justify-content: space-between;
  }

  .social a {
      width: 50px;
  }

  .character {
      display: flex;
      flex-direction: row;
      width: 100%;
  }

  .character-content p{
      display: flex;
  }

  .character-content {
      padding-left: 1rem;
  }

  .character-type {
    display: inline;
    border: solid var(--accent1-color);
    padding: 0.3rem;
    font-size: bold;
    margin-right: 10px;
  }  
  
  .find-character-container, #character-find {
      width: 100%;
      margin: auto 0;
      padding-left: 1.5rem;
  }

  .apple-crisp {
      height: 350px;
  }
  

  .social {
      padding-right: 5rem;
  }

  .character-description {
      font-size: 20px;
  }

  #ugly {
      padding-left: 2rem;
  }
}




