:root {
    --primary-color: #ccd5ae;
    --secondary-color: #e9edc9;
    --accent-color: #bc6c25;
    --primary-font: Arial, Helvetica,sans-serif;
    --headline-font: Montserrat, san-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    --border-heavy: 2px solid var(--primary-color);
    --border-light: 2px solid var(--primary-color);
}

body {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

main .filter-container {
    padding: 1rem;
}

.filter-container .filter-list {
    border: var(--border-light);
    padding: 1rem;
    height: 100%;
}

header h1 {
    font-weight: 700;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    border-top: var(--border-heavy);
    border-bottom: var(--border-heavy);
}

nav a {
    padding: 1.5rem 3rem;
    cursor: pointer;
    color: black;
    text-decoration: none;
    color: var(--accent-color);
}

nav a:hover {
    text-decoration: underline;
}

.blog-post-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding: 1rem;
}

.blog-metadata {
    display: flex;
    justify-content: end;
    padding: 2rem;
}

.blog-metadata p {
    line-height: 1.5rem;
    text-align: right;
}

.blog-content {
    border-left: var(--border-light);
    padding: 2rem;
}

.blog-content h2 { 
    text-align: center;
    color: var(--accent-color);
} 

.book-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 250px;
}